/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */


/* Color code */
$white: #FFF;

$black: #000;

$orange: #f79137;


/**
 * Media query ( for responsive design )
 */
$small-desktop: 1200px;
$ipad: 1024x;
$ipad-portrait: 992px;
$mobile: 767px;
$mobile-landscape: 600px;
$mobile-portrait: 480px;
$small-mobile-portrait: 360px;
/* End */

/* Map for position */
$position-map: (
  top: 'top',
  right: 'right',
  left: 'left',
  bottom: 'bottom',
);

$unit-map: (
  per: '%',
  px: 'px',
);
